{% extends 'base.html' %}

{% load humanize %}
{% load staticfiles %}

{% block toolbar %}
    {% include 'searchbar.html' %}
{% endblock %}
{% block content %}
    <div class="employee">
        <div class="row">
            <div class="col-4">
                <div class="basic-info">
                    <h1 class="name">{{ employee.first_name }} {{ employee.last_name }}</h1>
                    <h2 class="position">{{ employee.position }}</h2>
                    <h3 class="dept">{{ employee.full_department }}</h3>
                </div>
                <div class="rating">
                    <div class="stars">
                    {% for star in stars %}
                        <i id="star-{{forloop.counter}}" data-rating="{{forloop.counter}}" class="star fa
                        {% if star = 'full' %}
                            fa-star full
                        {% elif star = 'half' %}
                            fa-star-half-o half
                        {% else %}
                            fa-star-o empty
                        {% endif %}"></i>
                    {% endfor %}
                    </div>
                    <div class="message">
                    {% if employee.num_ratings < 5 %}
                        {{ ratings_needed }} more votes needed
                    {% endif %}
                    </div>
                </div>
                <div class="salary-expenses row">
                    <div class="col-6">
                        <div class="salary-col text-center">
                            <span class="small-tag">Salary</span>
                            <div class="salary-block remuneration">
                                ${{ employee.remuneration|intcomma }}
                            </div>
                            <div class="salary-rank">{{ rank.overall.salary|ordinal }} overall</div>
                            {% if rank.faculty.salary %}
                            <div class="salary-rank">{{ rank.faculty.salary|ordinal }} in {{ employee.faculty.short_name }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="salary-col text-center">
                            <span class="small-tag">Expenses</span>
                            <div class="salary-block expenses">
                                ${{ employee.expenses|intcomma }}
                            </div>
                            <div class="salary-rank">{{ rank.overall.expenses|ordinal }} overall</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="charts">
                    <div class="chart">
                    </div>
                    {% if employee.faculty %}
                        <ul class="chart-tabs">
                            <li><a href="#chart-overall">Overall</a></li>
                            <li><a href="#chart-faculty">{{ employee.faculty.full_name }}</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    var EMPLOYEE = {{ employee.remuneration }};
    var ID = {{ employee.id }};
    {% if employee.faculty %}
        var FACULTY = {{ employee.faculty.id }};
    {% else %}
        var FACULTY = false;
    {% endif %}
</script>
<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/employee.js" %}"></script>
{% endblock %}