<select data-filter="faculty_id" data-val="{{ filters.faculty_id }}" data-placeholder="Filter by faculty" class="search-filter fac" style="display: none;">
        <option></option>
        {% for fac in filter_faculties %}
            <option value="{{ fac.id }}">{{ fac.full_name }}</option>
        {% endfor %}
</select>
<select data-filter="department_id" data-val="{{ filters.department_id }}" data-placeholder="Filter by department" class="search-filter dept" style="display: none;">
    <option></option>
    {% for dept in filter_departments %}
        <option value="{{ dept.id }}">{{ dept.name }}</option>
    {% endfor %}
</select>
<select data-filter="position_id" data-val="{{ filters.position_id }}" data-placeholder="Filter by position" class="search-filter pos" style="display: none;">
    <option></option>
    {% for pos in filter_positions %}
        <option value="{{ pos.id }}">{{ pos.name }}</option>
    {% endfor %}
</select>
