{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="keywords" content="ubc, salary, salary database, professor">
    <meta name="description" content="A searchable database of all UBC employees paid at least $75,000 for the year ending March 2014.">
    <meta property="fb:app_id" content="294908990714006" />
    <meta property="og:type" content="{{ og.type }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:image" content="{% static 'img/banner.png' %}" />
    <meta property="ubyssey_fb:rating" content="5" />

    <link rel="icon" type="image/png" href="{% static 'img/salary_logo.png' %}">
    <script src="//use.typekit.net/qex0fvk.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/chosen.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>