

strong {
    font-weight: 600;
}

header {
    overflow: auto;
}

header .logo, header .ubyssey-logo {
    line-height: 55px;
}

header .logo {
    float: left;
}

header .ubyssey-logo {
    float: right;
}

body {
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "lft-etica";
    font-weight: normal;
    font-size: 16px;
    background: #fff;
}

.fb-share-button, .twitter-share-button{
    display: inline-block;
    vertical-align: middle;
    margin: 0px 8px;
}

.adslot {
    margin: 0 auto;
}

.row {
    overflow: auto;
}

div.landing {
    margin-top: 100px;
}

div.landing-center {
    margin: 35px 0;
    text-align: center;
}

div.ubyssey {
    line-height: 30px;
}

div.ubyssey a {
    border: none;
}

div.ubyssey a:hover, .ubyssey-logo a:hover {
    opacity: 0.5;
}

div.ubyssey img, .ubyssey-logo img {
    height: 30px;
    vertical-align: middle;
}

div.ubyssey p, .ubyssey-logo p {
    vertical-align: middle;
    display: inline;
    font-weight: 300;
    font-size: 13px;
    color: #6E6E6E;
    line-height: 22px;
    margin-right: 10px;
}

header {
    margin: 15px 0;
}

header div.logo h1 {
    font-size: 22px;
}

header div.logo img {
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

div.logo h1 {
    font-size: 38px;
    color: #417505;
    line-height: 54px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline;
    vertical-align: middle;
}

div.logo img {
    height: 54px;
    width: 54px;
    vertical-align: middle;
    margin-right: 12px;
}

div.landing-logo {
    text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

div.charts {
    width: 100%;
    max-width: 560px;
    float: right;
    overflow-y: hidden;
}

.chart-tabs {
    display: none;
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 25px 0;
}

.chart-tabs li {
    display: inline-block;
}

.chart-tabs li.ui-tabs-active a, .chart-tabs li.ui-tabs-active a:hover {
    background: #5184B2;
    color: #FFFFFF;
}

.chart-tabs li a:focus {
    outline: none;
}

.chart-tabs li a:hover {
    background: #5A5A5A;
    color: #fff;
}

.chart-tabs li a {
    border-radius: 2px;
    font-size: 14px;
    color: #333333;
    line-height: 17px;
    text-decoration: none;
    padding: 12px 15px;
    margin: 0 10px;
}

div.chart svg {
    width: 100%;
}

.area {
    fill: rgb(244, 244, 244);
}

.axis path,
.axis line {
  fill: none;
  stroke: #DBDBDB;
  shape-rendering: crispEdges;
}

.axis path {
    display: none;
}

.axis {
    font-family: "Helvetica";
    font-size: 10px;
}

.axis text {
    fill: #676767;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.col-4, .col-6, .col-8 {
    float: left;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33%;
}

.col-8 {
    width: 66.66%;
}

.text-center {
    text-align: center;
}

.salary-block {
    border-radius: 5px;
    padding: 25px 0;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 29px;
    letter-spacing: 1px;
    margin: 8px 0;
}

.salary-rank {
    font-size: 14px;
    color: #676767;
    line-height: 17px;
    letter-spacing: 0.5px;
    margin: 20px 0;
}

.salary-col {
    padding: 0 20px;
}

.salary-expenses {
    overflow: auto;
    max-width: 400px;
}

.salary-expenses .col-6:first-child .salary-col {
    padding-left: 0;
}

.salary-expenses .col-6:last-child .salary-col {
    padding-right: 0;
}

.small-tag {
    font-size: 12px;
    color: #676767;
    line-height: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.salary-block.remuneration {
    background: #1C1C1C;
}

.salary-block.expenses {
    background: #670000;
}

h1.name {
    font-weight: 600;
    font-size: 36px;
    color: #494949;
    margin: 0 0 15px 0;
}

h2.position {
    font-size: 18px;
    color: #494949;
    line-height: 22px;
    font-weight: normal;
    margin: 10px 0;
}

h3.dept {
    font-size: 14px;
    color: #494949;
    line-height: 17px;
    font-weight: normal;
    margin: 20px 0;
}

.basic-info {
    margin-bottom: 30px;
}

div.landing #search-field {
    max-width: 740px;
    margin: 0 auto;
}

div.landing .chosen-container-single .chosen-default {
    color: #444;
}

div.chosen-container {
    text-align: left;
}

a.button {
    border: 1px solid rgb(200,200,200);
    border-radius: 2px;
    padding: 10px 15px;
    font-size: 13px;
    display: inline-block;
    overflow: hidden;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    margin-left: 5px;
}

a.dropdown-link:active, a.dropdown-link:focus {
    outline: none;
}

.chosen-container.dropdown .chosen-results li a, .chosen-container.dropdown .chosen-results li a:visited {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
}

.chosen-container.dropdown .chosen-results li a:hover {
    color: #fff;
}


.chosen-container.dropdown .chosen-results li {
    padding: 0;
}

a.button, div.landing div.chosen-container {
    background: whitesmoke;
    border-radius: 2px;
}

div.landing div.chosen-container.chosen-with-drop {
    background: #fff;
}

div.landing div.chosen-container {
    max-width: 220px;
    vertical-align: top;
}

footer {
    overflow: auto;
    padding: 15px 0;
    margin-top: 15px;
    border-top: 1px solid #E0E0E0;
}

footer p {
    font-size: 13px;
    color: #A6A6A6;
    font-weight: 300;
}

.no-results {
    margin-bottom: 30px;
}

footer p a {
    color: steelblue;
    text-decoration: none;
}

footer p a.no-style {
    color: inherit;
}

footer p a:hover {
    text-decoration: underline;
}

footer p.left {
    float: left;
}

footer p.right {
    float: right;
}

#search-field {
    width: 100%;
    display:block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #C8C8C8;
    font-size: 18px;
    color: #000;
    line-height: 22px;
    padding: 12px;
    position: relative;
    z-index: 550;
}

#search-field:hover, #search-field:focus {
    border-color: rgb(160, 160, 160);
}

#search-field:focus {
    color: #000;
}

#search-field.no-bottom-corner {
    border-radius: 2px 2px 0 0;
}

.search-dropdown {
    position: absolute;
    z-index: 500;
}

.ui-autocomplete {
    list-style-type: none;
    padding: 5px 0 0 0;
    background: #fff;
    border: 1px solid #C8C8C8;
    border-radius: 0 5px;
}

.ui-autocomplete li {
    margin: 0;
}

.ui-menu-item a {
    color: #000;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 12px;
}

.ui-menu-item a:hover {
    color: steelblue;
}

.ui-helper-hidden-accessible {
    display: none;
}

div.employee {
    margin: 45px 0;
}

div.search-results {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    display: table;
    font-size: 0.938em
}

div.search-header {
    color: grey;
}

div.search-header:hover {
    color: black;
    cursor: pointer;
}

div.search-results a.employee-result, div.search-headers {
    display: table-row;
    color: #000;
    text-decoration: none;
}

div.search-results a.employee-result:hover, div.search-results a.employee-result:nth-child(odd):hover {
    background: rgb(205,205,205);
}

div.search-results a.employee-result:nth-child(odd) {
    background: rgb(239, 239, 239);
}

div.employee-info, div.search-header {
    display: table-cell;
    padding: 15px;
    border: none;
}

div.page-listing {
    margin: 40px 0;
    text-align: center;
    font-size: 12px;
}

div.page-listing a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    border: 1px solid rgb(200,200,200);
    border-radius: 2px;
    height: 20px;
    min-width: 20px;
    line-height: 20px;
    margin: 0 5px;
}

div.page-listing a.cur-page, div.page-listing a.cur-page:hover {
    background: steelblue;
    border-color: steelblue;
    color: white;
}

div.page-listing a:hover {
    background: rgb(239, 239, 239);
}

.rating {
    font-size: 26px;
    color: #333333;
    margin: 25px 0;
    overflow: auto;
}

.rating .stars:hover {
    cursor: pointer;
}

.rating .stars, .rating .message {
    float: left;
}

.rating .message {
    font-size: 12px;
    line-height: 31px;
    height: 31px;
    margin-left: 15px;
}

.rated .fa-star {
    color: steelblue;
}

.rated .fa-star-o {
    color: grey;
}


.chosen-container {
    width: 33% !important;
}

a.chosen-single {
    padding: 15px;
    height: auto;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    min-width: 20px;
    line-height: 20px;
}

a.chosen-single, .chosen-drop {
    border: 1px solid rgb(200,200,200);
    border-radius: 2px;
}

.chosen-container-single .chosen-search input[type="text"] {
    border: 1px solid #C8C8C8;
}

.chosen-drop {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.chosen-container .chosen-results li {
    padding: 10px 15px;
}

.chosen-container .chosen-results li:hover {
    background: steelblue;
    color: #fff;
}

.search-filter {
    display: none;
}

.search-filters {
    height: 46px;
    margin: 15px 0;
}

header a {
    text-decoration: none;
}

header a:hover div{
    opacity: 0.8;
}

.search-dropdown li.ui-state-focus {
    background: rgb(225,225,225);
}


@media(max-width: 970px){
    .padded {
        padding-left: 12px;
        padding-right: 12px;
    }
}

a.chosen-single:hover, .chosen-with-drop .chosen-drop, .chosen-with-drop .chosen-single, a.button:hover {
    border-color: rgb(160, 160, 160);
}

.page-numbers {
    display: inline;
}

.cur-page {
    padding: 0 15px;
    display: inline;
}

.hide-desktop {
    display: none;
}

@media(max-width: 768px){

    .no-results {
        font-size: 14px;
        margin: 25px 0;
    }
    .search-bar img {
        display: inline;
    }

    #search-field {
        display: inline;
    }

    body {
        font-size: 12px;
    }

    .chosen-container {
        width: 100% !important;
        margin-bottom: 5px;
    }

    .search-filters {
        height: auto;
        display: none;
    }

    div.col-4 {
        width: 100%;
    }

    div.charts {
        display: none;
    }

    div.employee {
        margin-top: 20px;
    }

    div.search-header.position, div.employee-info.position {
        display: none;
    }

    div.search-bar {
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(205, 205, 205);
        margin-bottom: 5px;
    }

    .landing div.search-bar {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
    }

    #search-field {
        font-size: 16px;
        line-height: 18px;
        padding: 8px;
        border-radius: 2px;
    }

    h1.name {
        font-size: 24px;
    }

    div.logo h1 {
        font-size: 24px;
    }

    div.logo img {
        width: 48px;
        height: 48px;
    }

    footer p.left, footer p.right {
        float: none;
        margin-bottom: 20px;
    }

    div.logo img {
        margin-right: 8px;
    }

    .logo.landing-center {
        margin: 25px 0;
    }
}

@media(max-width: 500px){

    body {
        margin-top: 15px;
    }

    .hide-mobile {
        display: none;
    }

    .hide-desktop.page-numbers {
        display: inline;
    }

    .hide-desktop {
        display: block;
    }

    div.logo h1 {
        font-size: 18px;
        letter-spacing: 1px;
    }

    div.logo img {
        width: 36px;
        height: 36px;
    }

    header {
        margin: 0;
    }

    header div.logo h1 {
        font-size: 16px;
    }

    header div.logo img {
        width: 24px;
        height: 24px;
    }
}
